.listElement {
    padding: 30px 30px 30px 30px;
    width: 90%;
    height: 200px;
    margin-top: 30px;
    border-radius: 30px;
    background: #1c1c1c;
    box-shadow:  20px 20px 40px #0f0f0f;
    display: flex;
    flex-direction: raw;
    flex-wrap: nowrap;
    animation-name: appearEl;
    animation-duration: 0.5s;
    &__elements{
        width: 100%;
        background-color: #1c1c1c;
        &__name {
            width: 90%;
            background-color: #1c1c1c;
            border-bottom: solid white 2px;
            font-family: T-bold, sans-serif;
            font-size: 30px;
            transition-duration: 1s;
            padding-left: 10px;
        }
        &__task {
            width: 90%;
            height: 60px;
            text-align: left;
            margin-top: 20px;
            background-color: #1c1c1c;
            border-bottom: solid white 0.1px;
            padding-bottom: 5px;
            font-size: 20px;
            transition-duration: 1s;
            padding-left: 10px;
        }
    }
}
@keyframes appearEl {
    from {
        opacity: 0;
        height: 1px;
    }
    to {
        opacity: 1;
        height: 200px;
    }
}