@import "_fonts";
@import "_iconanimation";
@import "_header";
@import "_input";
@import "_listEl";
* {
    padding: 0;
    margin: 0;
    background-color: black;
    border: none;
    color: white;
    font-family: T-regular, sans-serif;
    overflow-x: hidden;
    outline: none;
}
button {
    background-color: #1c1c1c;
}
body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main {
    vertical-align: middle;
    width: 800px;
    margin-top: 50px;
}
.line {
    width: 100%;
    height: 2px;
    background-color: white;
}
.todos {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 40px 40px 40px;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
  
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
.ClearBtnContent {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 50px;
    align-items: center;
}
.ClearBtn {
    width: 50%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-family: T-bold, sans-serif;
    font-size: 25px;
    transition-duration: 0.3s;
    &:hover{
        height: 50px;
        width: 55%;
        font-size: 30px;
        cursor: pointer;
    }
}
.DeleteButtonContent {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: auto;
    justify-content: center;
    background-color: #1c1c1c;
}
.DeleteButton {
    width: 40px;
    height: 40px;
    transition-duration: 0.3s;
    &:hover{
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    background-color: #1c1c1c;
}
@import "_adaptive";